<h1>เมนูอาหาร</h1>
<h1>ของคาว</h1>

<div class="card-group">
  <div class="card">
    <img src="https://s359.kapook.com/pagebuilder/95fda6be-5c79-48aa-bcc8-8209055c44ef.jpg" class="card-img-top" alt="ต้มยำกุ้ง">
    <div class="card-body">
      <h5 class="card-title">ต้มยำกุ้ง</h5>
      <p class="card-text">ต้มยำกุ้งน้ำใสรสเผ็ดเปรี้ยวที่ขึ้นชื่อเป็นที่นิยมทั่วโลก</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://www.ajinomoto.co.th/storage/photos/shares/Recipe/Menu/3-19Greencurry/61a8f3939f40f.jpeg" class="card-img-top" alt="ผัดไทย">
    <div class="card-body">
      <h5 class="card-title">ผัดไทย</h5>
      <p class="card-text">ผัดไทยเส้นนุ่มพร้อมเครื่องปรุงรสชาติแบบไทยดั้งเดิม</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://images.deliveryhero.io/image/foodpanda/recipes/pad-thai.jpg" class="card-img-top" alt="แกงเขียวหวาน">
    <div class="card-body">
      <h5 class="card-title">แกงเขียวหวานไก่</h5>
      <p class="card-text">แกงเขียวหวานเข้มข้นเนื้อไก่หอมกรุ่นด้วยเครื่องแกงสูตรพิเศษ</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

<h1>ของหวาน</h1>
<div class="card-group">
  <div class="card">
    <img src="https://d3h1lg3ksw6i6b.cloudfront.net/media/image/2023/04/24/5608757681874e1ea5df1aa41d5b2e3d_How_To_Make_Tom_Yam_Kung_The_Epitome_Of_Delicious_And_Nutritious_Thai_Cuisine3.jpg" class="card-img-top" alt="ข้าวเหนียวมะม่วง">
    <div class="card-body">
      <h5 class="card-title">ข้าวเหนียวมะม่วง</h5>
      <p class="card-text">ข้าวเหนียวมูนหอมมันทานคู่กับมะม่วงหวานอร่อย</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://www.ajinomoto.co.th/storage/photos/shares/Recipe/Menu/3-19Greencurry/61a8f3939f40f.jpeg" class="card-img-top" alt="บัวลอย">
    <div class="card-body">
      <h5 class="card-title">บัวลอย</h5>
      <p class="card-text">บัวลอยแป้งนุ่มหอมกะทิสด อร่อยทุกคำ</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://f.ptcdn.info/371/081/000/rz7gbk127laZ0YjQvz9FU-o.jpg" class="card-img-top" alt="ไอศกรีมกะทิ">
    <div class="card-body">
      <h5 class="card-title">ไอศกรีมกะทิ</h5>
      <p class="card-text">ไอศกรีมกะทิเข้มข้นราดถั่วลิสงเพิ่มความกรุบกรอบ</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

